*{
    margin: 0;
    padding: 0;
}
.container{
    width: 40%;
    /* border: 1px solid #777; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.overlay{
    position: absolute;
    border-radius: 13px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}
.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.container:hover .overlay{
    opacity: 0.8;
}